/* s04 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Tahoma', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5 {
    font-family: 'Georgia', serif;
}

body {
    background-color: whitesmoke;
}

nav {
    text-align: center;
    padding: 1rem;
    margin-bottom: .25rem;
    background-color: mediumpurple;
    color: white;
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
}

a {
    text-decoration: none;
}

#landing {
    text-align: center;
}

#profile {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 2px solid mediumpurple;
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#title {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#intro {
    width: 400px;
    margin: auto;
}

#tools {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#tools-title {
    margin-bottom: 3rem;
}

.tools-img {
    height: 100px;
    width: 100px;
    border-radius: 150px;
    border: 2px solid mediumpurple;
    margin-left:20px;
    margin-right: 20px;
}

#projects {
    text-align: center;
    padding-bottom: 1rem;
}

/* s05 */
#projects-heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.card {
    border: 1px solid mediumpurple;
    border-radius: 10px;
    height: 400px;
    width: 30.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.card-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.card-title {
    margin: 15px;
}

#contact {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-align: center;
}

#social {
    text-align: center;
    margin: 1rem;
}

.social-img {
    height: 50px;
    width: 50px;
    margin: 1.5rem;
}

form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-input {
    display: block;
    /* research the use of % */
    width: 100%;
    border: 2px solid mediumpurple;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    border: 3px solid mediumpurple;
    padding: 10px;
    border-radius: 5px;
}

body {
    background-image: 
        url(https://images.pexels.com/photos/7130537/pexels-photo-7130537.jpeg?auto=compress&cs=tinysrgb&w=600)
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
